.App {
  text-align: center;
  width: 100%;
}
h1 {
  text-align: center;
}
h2 {
  font-size: 2rem;
}
.movie1 {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.image {
  width: 380px;
  height: 380px;
  border: 2px solid black;
}
.audio {
  display: block;
  margin: 20px;
}
.audioDiv {
  border: 2px solid black;
  width: 380px;
  height: 380px;
}
.video {
  width: 380px;
  height: 380px;
  border: 1px solid black;
}
